body {
    background-color: rgb(126, 162, 126);
}

.container {
    background-color: aliceblue;
}

.figure-img {
    width: 80%;
    height: 100%;
}

#container1 {
    display: flex;
    padding: 2%;
}

.scnd-cont {
    width: 70%;
    padding: 4%;
}

.btn {
    margin: 1%;
}

.card {
    display: inline-flex;
    margin: auto;
    height: 80%;
    background-color: aliceblue;
    width: 30%;
}

.card-img-top {
    height: 10%;
}

#container2 {
    background-color: rgb(153, 193, 153);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2%;
}

#container3 {
    display: flex;
    padding: 2%;
}

#container4 {
    background-color: rgb(153, 193, 153);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2%;
}

