body {
    background-color: rgb(126, 162, 126);
}

.navbar-brand {
    color: green;
}

.figure {
    width: 50%;
    height: 100%;
    display:inline-flex;
    text-align: center;
}

#container1 {
    display: flex;
    padding: 2%;
    background-color: aliceblue;
}

.scnd-cont {
    width: 50%;
    padding: 4%;
    text-align: center;
}

.btn {
    margin: 1%;
}

.card {
    background-color: aliceblue;
    width: 100%;
}


#container2 {
    background-color: rgb(153, 193, 153);
    padding: 2%;
}

#container3 {
    padding: 2%;
    background-color: aliceblue;
    display: flex;
}

#container4 {
    background-color: rgb(153, 193, 153);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2%;
}

