header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #E8F6F3 ; 
    color: #000000;
    padding: 10px 20px; 
    border-radius: 10px;
}

#logo {
    display: flex; 
    align-items: center;
}

.logo-pick {
  height: 50px;
  width: 89px;
}

nav ul {
    list-style: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin-right: 30px; 
}

nav a {
    text-decoration: none; 
    color: #6d6d6de3; 
    font-family: 'Monaco', monospace;
    font-weight: bold;
}

main section {
    height: 400px;
    width: auto;
}

#Vamos {
    font-size: 100px;
    font-family: 'Monaco', monospace;
    position: absolute; 
    top: 150px; 
    right: 200px;
}

#boton-primer-bloque1 {
    position: absolute; 
    top: 350px; 
    right: 430px;
}

#boton-primer-bloque2 {
    position: absolute; 
    top: 350px; 
    right: 300px;
}

.foto-primer-bloque {
    position: absolute;
    left: 90px;
    top: 120px;
    width: 650px;
    height: 350px;
}
